COMMERCE_TOOLS_ID=
COMMERCE_TOOLS_SECRET=
COMMERCE_TOOLS_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
COMMERCE_TOOLS_API_URL=https://api.europe-west1.gcp.commercetools.com
COMMERCE_TOOLS_PROJECT_KEY=doc_test1
COMMERCE_TOOLS_PRODUCTS_CURRENCY=
COMMERCE_TOOLS_PRODUCTS_COUNTRY=
COMMERCE_TOOLS_PRODUCT_CHANNEL=
COMMERCE_TOOLS_PRODUCT_CUSTOMER_GROUP=
COMMERCE_TOOLS_PRODUCT_ATTRIBUTES=articleNumberManufacturer,gender,size


VOUCHERIFY_APP_ID=
VOUCHERIFY_SECRET_KEY=
VOUCHERIFY_API_URL=https://api.voucherify.io

COMMERCE_TOOLS_WITH_LOGGER_MIDDLEWARE=true

DEBUG_STORE_REQUESTS_IN_JSON=false
DEBUG_STORE_REQUESTS_DIR=./json

API_EXTENSION_BASIC_AUTH_PASSWORD=some_very_complex_auth_password