COMMERCE_TOOLS_ID=
COMMERCE_TOOLS_SECRET=
COMMERCE_TOOLS_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
COMMERCE_TOOLS_API_URL=https://api.europe-west1.gcp.commercetools.com
COMMERCE_TOOLS_PROJECT_KEY=doc_test1

VOUCHERIFY_APP_ID=
VOUCHERIFY_SECRET_KEY=

COMMERCE_TOOLS_WITH_LOGGER_MIDDLEWARE=true
LOGGER_PRETTY_PRINT=true

API_EXTENSION_BASIC_AUTH_PASSWORD=some_very_complex_auth_password